body{
    font-size: 18px;
    background-color: whitesmoke;
}
select {
    width: 200px;
}

#mainBody{
    border-radius: 30px 30px 30px 30px;
    -webkit-box-shadow: 0px 0px 100px -10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 100px -10px rgba(0,0,0,1);
    box-shadow: 0px 0px 100px -10px rgba(0,0,0,1);

    min-width: 600px;
    max-width: 1200px;
    min-height: 100%;
    height: auto; 

    margin:0 auto;

    background-color: dimgray;
}

#cssmenu{
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    z-index: 1;
}

#mainContainer{
    border-radius: 30px 30px 30px 30px;
    -webkit-box-shadow: 0px 0px 125px -10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 125px -10px rgba(0,0,0,1);
    box-shadow: 0px 0px 80px -15px rgba(0,0,0,1);

    width: 94%;
    float: left;

    margin-top: 1%;
    margin-left: 3%;
    

    background-color: #ffffff;
}

#userInput{
    margin-left: 1%;
    margin-right: 1%;
    padding-bottom: 2%;
}

#userData{
    margin-left: 1%;
    margin-right: 1%;
    
}

#user-BannerDiv, #user-AvatarDiv{
    padding-bottom: 1%;
}

#user-Banner, #user-Avatar{
    border-radius: 30px 30px 30px 30px;
    -webkit-box-shadow: 0px 0px 100px -10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 100px -10px rgba(0,0,0,1);
    box-shadow: 0px 0px 100px -10px rgba(0,0,0,1);
}

#user-Banner{
    width: 100%;
}

#user-Avatar{
	float:left;
    width: 10%;
}

#userData-LineBreak{
    margin-top: 2%;
}

#userLibraryWrapper{
    margin-left: 1%;
    margin-right: 1%;
    padding-bottom: 10%;
}

#sortOptions{
    padding-bottom: 2%;
}